{% extends "AssociationBundle::layout.html.twig" %}

{% block fos_user_content %}

    {% block title %}Enregistrement de vos identifiants de connexion{% endblock %}

    {% block content %}
        <div class="col-md-9 col-sm-9 centered container main-div" xmlns="http://www.w3.org/1999/html">
            <h3 class="sub-header">{% block section %}{% endblock %}</h3>
            <div class="content">

                {% include "UserBundle:Registration:register_content.html.twig" %}

            </div>
        </div>
    {% endblock %}

    {% block modal %}
        {#Fenetre modal présentation#}
        <div id="infos" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-center">Enregistrement de votre association</h4>
                    </div>
                    <div class="modal-body">
                        <h4><b>Cette page vous permet d'enregistrer votre profil utilisateur. Une fois ceci fait, vous pourrez acc&eacute;der au site afin d'enregistrer votre association, et faire une demande de subvention</b></h4>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success" data-dismiss="modal" value="Poursuivre"/>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endblock %}

{% endblock fos_user_content %}

{% block sidebar %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}